body {
  background-color: red;
}

.escolher-palavra {
  font-family: Roboto;
  font-size: 8px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  height: 24px;
  width: 80px;
  margin: 10px;
  
}

span {
    margin: 2px;
}

.vitoria{
    color: green;
}

.derrota{
    color: red;
}